<!-- <mat-toolbar color="primary">
  <button mat-icon-button>
   <img src="karmaxMuebles\src\favicon.ico" alt="">
  </button>
  <span>Tu sitio web de muebles</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Inicio</a>
  <a mat-button routerLink="/productos">Productos</a>
  <a mat-button routerLink="/contacto">Contacto</a>
</mat-toolbar> -->
<div>

  <nav color="primary">
    <div class="logo">
      <img src="../../assets/images/logoProvisorio.png" alt="">
    </div>
    <ul class="nav-links">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
    <!-- <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div> -->
</nav>
</div>
