body {
	background-color: #F5F5F5;
	font-family: Arial, sans-serif;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}

h1 {
	font-size: 36px;
	color: #4C4C4C;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	color: #8E8E8E;
	margin-bottom: 10px;
}
