*{
  display: block;
  margin: 0;
  padding: 0
}
body{
  margin:auto;
  padding: 0;


  display: flex;
  flex-direction: column;
  justify-content:center;
  vertical-align: middle;

}

.title{
  background-image: url("./../../../assets/images/inicioFondo.jpg");
  background-position: center;
  background-size: cover;
  background-color: aquamarine;
  display: flex;
  height: 100dvh;
  width: 100dvw;
  text-align: center;
  color: white;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  vertical-align: middle;
}

/* CSS para los títulos en la sección .title */
.title h1 {
  margin: 0;
  font-weight: 600;
  font-size: 10dvh;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.849);
  width: 100%;
  height: 10dvh;


}

.title h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.849);
}

.title p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.849);
}

/* CSS para la animación de entrada */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CSS para la animación al scrollear */
.scroll-down {
  animation: scrollDownAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes scrollDownAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
